body{
	background: #EBE8E3;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
.review_row{
	padding: 67px 0;
}
.review_row img{
	width: 60px;
    position: relative;
    left: 5px;
}
.review_row h3{
	font-weight: 700;
	font-size: 27px;
	margin: 15px 0;
}
.review_row h3 span{
	display: inline-block;
	position: relative;
	padding: 12px 0;
}
.review_row h3 span:after{
	content: " ";
	display: inline-block;
	width: 33%;
	height: 1px;
	background: #FFA770;
	position: absolute;
	top: 0;
	left: 32%;
}
.item{
	display: inline-block;
	background: #F6F6F6;
	max-width: 435px;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	padding: 40px;
	margin-bottom: 50px;
}
.item p{
	line-height: 1.7;
	font-size: 19px;
	color: #4E4E4F;
}
.circle-wrap{
	width: 100%;
	text-align: center;
	position: absolute;
	left: 0;
	top: -20px;
}
.circle{
    width: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    text-align: center;
    background: #FFA368;
    color: #fff;
    padding: 8px 0;
    display: inline-block;
    font-size: 19px;
}
.item_label{
	font-weight: 600;
	display: block;
	margin-top: 25px;
	font-size: 19px;
}
.items_list{
	-moz-column-count: 2; /* Для Firefox */
    -webkit-column-count: 2; /* Для Safari и Chrome */
    column-count: 2;
}
.items_list li{
	padding: 25px 0;
}
@media screen and (max-width: 768px){
	.items_list{
		-moz-column-count: 1; /* Для Firefox */
	    -webkit-column-count: 1; /* Для Safari и Chrome */
	    column-count: 1;
	}
}